html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: #757575;
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin: 0px;
  padding: 0px;
}

li {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  list-style-type: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

input {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}

.instagram-icon {
  width: 20px;
  height: 20px;
}

.twitter-icon {
  width: 20px;
  height: 16px;
}

.facebook-icon {
  width: 10px;
  height: 20px;
}

.linkedin-icon {
  width: 20px;
  height: 20px;
}

.header {
  margin-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-accent {
  color: #212121;
}

.nav {
  margin-left: 93px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list .nav-item + .nav-item {
  margin-left: 50px;
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-link:hover, .nav-link:focus {
  color: #2196f3;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.nav-link.current {
  color: #2196f3;
}

.nav-link.current::after {
  display: block;
  content: "";
  margin-top: 28px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 4px;
  position: absolute;
}

.nav-link.current:hover::after {
  width: 100%;
}

.contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}

.contacts-link:hover, .contacts-link:focus {
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  color: #2196f3;
}

.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon {
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  fill: #2196f3;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  -webkit-columns: #757575;
          columns: #757575;
}

.contacts .contacts-item + .contacts-item {
  margin-left: 50px;
}

.contacts-icon,
.contacts-icon {
  fill: #757575;
}

.mail-icon {
  width: 20px;
  height: 17px;
}

.tel-icon {
  width: 15px;
  height: 17px;
}

.contacts-text {
  margin-left: 10px;
}

.portfolio {
  margin-bottom: 94px;
}

.portfolio-title {
  display: none;
}

.portfolio-btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.portfolio-btn-list .portfolio-item + .portfolio-item {
  margin-left: 8px;
}

.portfolio-btn-list button:hover,
.portfolio-btn-list button:focus {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4%;
}

.examples {
  display: none;
}

.examples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.examples-list .examples-item:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.examples-list .examples-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.examples-list .examples-title {
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  margin-left: 24px;
}

.examples-list .examples-item {
  border: 1px solid #eeeeee;
  width: 372px;
}

.examples-list .examples-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.examples-list .examples-item:hover .examples-text {
  opacity: 1;
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.examples-subtitle {
  font-size: 16px;
  margin-left: 24px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.examples-container {
  position: relative;
  overflow: hidden;
}

.examples-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-right: 23px;
  padding-left: 23px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56em;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.footer {
  background-color: #2f303a;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-logo {
  padding-top: 60px;
  margin-bottom: 20px;
}

.footer-logo-accent {
  color: #ffffff;
}

.footer-address-text {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.footer-contacts-mail {
  display: block;
  margin-bottom: 9px;
}

.footer-mail-text,
.footer-tel-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.join-us {
  display: block;
  font-weight: 700;
  font-size: 14px;
  margin-top: 72px;
  margin-left: 72px;
  margin-bottom: 20px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  margin-left: 70px;
  margin-bottom: 100px;
}

.footer-social-list .footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social-icon {
  fill: #ffffff;
}

.footer-social-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-social-item:hover {
  background-color: #2196f3;
  border-radius: 50%;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.footer-social-item:hover .social-icon {
  fill: #ffffff;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.subscribe {
  margin-left: 90px;
  margin-top: 72px;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: #757575;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  background-position: 160px center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-btn-text {
  margin-left: 29px;
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */